# 忽略所有target目录
**/target/

# 但保留特定目录下的target（如docs/target）
!docs/target/
# 其他常见忽略项
build/
out/
bin/
*.class
*.jar
*.war
# 配置文件
*.iml
.idea/
*.swp
/test

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.vsix

# Test files
**/*.test.js
**/*.spec.js
**/run-*-tests.js