# Python
__pycache__/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# Build & install
build/
dist/
.eggs/
*.manifest
.installed.cfg

# IDE & tools cache
.idea/
.vscode/
*.swp
*.swo
.mypy_cache/
.ruff_cache/
.dmypy.json
dmypy.json
